header {
	text-align: center;
}
body {
	width:auto;
	margin:auto 0 0;
	padding: 1em;
}
h1 {
	font-weight: lighter;
	font-variant: small-caps; 
}
h2 {
	font-weight: lighter;
	font-variant: small-caps;
}
h3 {
	font-weight: lighter;
	font-variant: small-caps;
	text-align: center;
}
h4 {

}
#myData {
	display : table;
}
.item {
	display: table-cell;
	width:50%;
	height: auto;
	margin:1%;
}
.row {
	display: table-row;
	max-width: 100%;
}
